.bodyCW {
    width: 1200px;
    margin: auto;
}

.contentCW {
    padding: 16px;
}

.sc-crrszt {
    color: white;
    font-family: sans-serif;
}

.sc-gKseQn {
    font-family: sans-serif;
}

.sc-hKgJUU {
    font-family: sans-serif;
}

.sc-bqyKOL {
    height: 50px !important;
    width: 50px !important;
    margin-bottom: 15px !important;
}

.sc-bqyKOL svg {
    height: 22px !important;
    width: 22px !important;
}

.featuredTitle {
    font-size: 22px;
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.featuredTitle:hover {
    color: #F69E7B
}

.featuredTitle1:hover {
    color: #F69E7B
}

.featuredDes {
    font-weight: 400;
    color: white;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.backgroundFeatured {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: url(//cdn.24h.com.vn/images/Rectangle-10.png) no-repeat center bottom;
    background-size: 100% 100%;
    padding-top: 50px;
    width: 575px;
    margin-bottom: 10px;
    margin-left: -0.1px;
}

.backgroundFeatured1 {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: url(//cdn.24h.com.vn/images/Rectangle-10.png) no-repeat center bottom;
    background-size: 100% 100%;
    padding-top: 20px;
    width: 280.01px;
    margin-bottom: 10px;
}

.featuredTitle1 {
    font-size: 16px;
    color: white;
    font-weight: 550;
    font-family: Arial,
        Helvetica,
        sans-serif;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.activeVenue {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.activeHome {
    position: absolute;
    margin: 12px 12px 12px 12px;
    border-radius: 18px;
    bottom: 0;
    padding: 10px;
    background-color: white;
    width: 251px;
}

.activeBodyHome {
    color: rgb(85, 84, 84);
    text-align: left;
    margin-left: 2px;
}
.activeBodyHome:hover {
    color: #F69E7B!important;
}

.featuredEC {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.activeImg img {
    object-fit: cover;
    width: 275px;
    height: 370px;
    border-radius: 18px;
}

